body{
    background-color: #f4f4f4;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#mainHeader{
    background-color: cornflowerblue;
    color: #fff;
}

#navbar{
    background-color: #333;
    color: #fff;
}

#navbar ul{
    padding: 0;
    list-style: none;
}

#navbar li{
    display: inline;
}

#navbar a{
    color: #f4f4f4;
    text-decoration: none;
    font-size: 18px;
    padding-right:15px;
}

#navbar a:hover{
    color: blue;
}

#showcase{
    background-image: url(../images/showcase.jpg);
    background-position: center right;
    min-height: 300px;
    margin-bottom: 30px;
    text-align: center;
}

#showcase h1{
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6em;
    padding-top: 30px;
}
#main{
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}

#sidebar{
    float: right;
    width: 30%;
    background-color:#333;
    padding: 8px;
    box-sizing: border-box;
    border-style: none;
}

#mainFooter{
    color: #333;
    text-align: center;
    padding: auto;
    margin-top: 40px;
}

/*@media(max-width:600pc){
    #main{
        width: 100%;
        float: none;
    }
}*/